<body>
<div style="text-transform: uppercase;">
    <section>
        <div class="bgclass">
        <!--<h3 style="text-decoration: darkslateblue solid; text-transform: uppercase;  font-size: 50px; font-family: 'Courier New', Courier, monospace;">Welcome to university
        </h3>-->
        <div class="transbox">
            <p style="text-transform: uppercase; font-size: 50px;">Welcome To University</p>
          </div>
        </div>
        <br>
        <h5  class="h5class">Come, Visit & Explore</h5><br>
    </section>
    <div class="row">
        <div class="slider"></div>
        <div class="contact">
            <h1 style="color: blue;">Contact Us</h1>

            <p><img src="https://image.flaticon.com/icons/png/512/124/124034.png" height="50px" width="50px"></p>
               <p> <b>8976453217</b> </p>
                <p><b>+023-293483</b></p><hr>
            <div class="map">
                <h1 style="color:darkred; border: darkred; border-spacing: 3px; border-radius: 2px; padding-left: 5%; padding-right: 5%;" >
                    Locate Us
                </h1>
                <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg"
                height="250px" width="250px" style="box-sizing: border-box; border: 5px double brown;">
                
            </div>
            
        </div>
        
    </div>
</div>
<div class="container">
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/KIop1hxFliQ"></iframe>
</div>
<footer>
    <p><b>---------------------This is the footer section---------------------</b><br>
        <a href="#"><i>click here</i></a>
    </p>
</footer>
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
        <button class='btn btn-md' style="font-size:20x; border: 2px solid brown; background-color: rgb(212, 126, 27);">Scroll Up<i class="fa fa-angle-double-up"></i>
    </button>
    </button>
  </div>
</body>