<div class='user' [ngStyle]="setMyStyle()">
    <div *ngIf='userdetails != null'>
        <h3 style=' color:mediumblue;text-align:center;'>User Details</h3>
        <table class='table' [ngStyle]="setMyStyle()">
            <tr>
                <td><b>User Name: </b></td>
                <td>{{userdetails.username}}</td>
            </tr>
            <tr>
                <td><b>Password:</b></td>
                <td>{{userdetails.password}}</td>
            </tr>
            <tr> 
                <td><b>Role:</b></td>
                <td>{{userdetails.role}}</td>
            </tr>
        </table>
    </div>
    <div *ngIf='successMessage != null' (click)='successMessage = null' class='alert alert-success text-center'>
        {{successMessage}}
    </div>
    <div *ngIf='errorMessage != null' class='alert alert-danger text-center'>
        {{errorMessage}}
    </div>
</div>