<div *ngIf='successMessage == null && errorMessage == null' class='container' [ngStyle]="setMyStyle()" style='width:400px;float:center;'>
    <form #form="ngForm" (ngSubmit)="changePassword(form.value)">
      <h2 style="color: mediumblue;">Password Change Form</h2>
      <div class="form-group">
        <label for="old"><b>Old Password</b></label>
        <input type="text" id="oldpass" name="oldPassword" ngModel #oldpassword='ngModel' class="form-control" required
          placeholder="Old Password">
      </div>
      <div *ngIf='oldpassword.touched && oldpassword.invalid' class='alert alert-danger'>
        Old Password Required
      </div>
      <div class='form-group'>
        <label for="new"><b>New Password</b></label>
        <input type="text" id="newpass" name="newPassword" ngModel #newpassword='ngModel' class="form-control" required
          placeholder="New Password">
      </div>
      <div *ngIf='newpassword.touched && newpassword.invalid' class='alert alert-danger'>
        New Password Required
      </div>
      <button type="submit" class="btn btn-primary btn-block" [disabled]='form.invalid'>Change Password</button>
    </form>
    <div *ngIf="invalidLogin" class="alert alert-danger text-center">{{errorMessage}}</div>
</div>

<div *ngIf="successMessage != null" class="alert alert-success text-center">
    {{successMessage}}
</div>

<div *ngIf='errorMessage !=null' class='alert alert-danger text-center'>
    {{errorMessage}}
</div>
