<div class='maindiv'  *ngIf='errorMessage == null && roleMessage == null'>
    <h3 style='text-align:center;color: mediumblue;'>{{header}}</h3>
    <nav class="navbar navbar-dark bg-primary">
            <input class="form-control mr-sm-2 topnav-right fa fa-search" type="text" name="username" [(ngModel)]="username" (ngModelChange)="Search()" placeholder="Enter Name to Search">
    </nav>
    <table class='table table-striped table-bordered table-hover' [ngStyle]="setMyStyle()">
        <tr>
            <th (click)="sort('id')"> STAFF ID &nbsp; <i class="fa fa-sort"></i> </th>
            <th>STAFF NAME</th>
            <th>STAFF ROLE</th>
            <th *ngIf='isLoggedin && role == "STAFF" || role == "ADMIN" || role == "COMMITEE"' >ACTION</th>
        </tr>
        <tr *ngFor='let staff of staffs | orderBy : key : reverse | paginate:{itemsPerPage:5,currentPage:p} | filter:search;' style='padding:2px'>
            <td>{{staff.staffId}}</td>
            <td>{{staff.username}}</td>
            <td>{{staff.role}}</td>
            <td *ngIf='isLoggedin && role == "STAFF" || role == "ADMIN" || role == "COMMITEE"'>
                <button class='btn btn-danger' (click)='delete(staff.staffId)'>Delete</button>&nbsp;&nbsp;
                <a [routerLink]="['/staff-update',staff.staffId]" class='btn btn-primary'>Modify</a>
            </td>
        </tr>
        
    </table>
    <tr><pagination-controls (pageChange) = "p=$event"></pagination-controls></tr>
    <div *ngIf='message != null' (click)='message=null' class='alert alert-success text-center'>
        {{message}}
    </div>
</div>
<div class='alert alert-danger text-center' *ngIf='errorMessage != null'>
    <h2>{{errorMessage}}</h2>
</div>
<div class='alert alert-danger text-center' *ngIf='roleMessage !=null'>
    {{roleMessage}}
</div>