.staff{
    border:2px solid green;
    border-radius: 10px;
    margin:20px;
    width:50%;
    float:left;
    padding: 2ch;
}


input.ng-touched.ng-invalid,select.ng-touched.ng-invalid{
    border: 3px solid red;
}
label{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Times New Roman';
}